*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    z-index: -1;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: relative;
    top: -5px;
    z-index: -100;
}

.footer {
    position: relative;
    padding: 50px;
    top: 200px;
    text-align: center; 
    color: darkgray; 
}

#photos {
    width: 50%; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

@media (max-width: 800px) {
    #photos {
        width: 80%;
    }
}